.tag {
  isolation: isolate;
  display: inline-flex;
  align-items: baseline;
  border-radius: var(--radius-sm);
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.tag:hover {
  border-color: var(--color-border-strong);
}


.iconWrapper {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1.3rem;
  margin-right: 0.4rem;
  z-index: 1;
}

.icon {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: var(--tag-icon-color);
}

:global([data-theme="dark"]) .icon {
  color: var(--tag-icon-color-dark);
}

.small {
  padding: 0.2rem 0.4rem;
  line-height: 1.2rem;
  font-size: 1.1rem;
}

.medium {
  padding: 0.2rem 0.5rem;
  line-height: 1.3rem;
  font-size: 1.4rem;
}
