.tag {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  border-radius: 4px;
  background-color: var(--N10);
  color: var(--N900);
  border: 1px solid var(--N50);
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.tag:hover {
  border-color: var(--N900);
}


.iconWrapper {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1.2rem;
  margin-right: 0.4rem;
}

.icon {
  position: absolute;
  display: inline-flex;
}

.small {
  padding: 0.2rem 0.4rem;
  line-height: 1rem;
  font-size: 1.1rem;
}

.medium {
  padding: 0.26rem 0.5rem;
  line-height: 1.25rem;
  font-size: 1.4rem;
}