.item {
    display: flex;
    position: relative;
    font-size: 1.3rem;
    border-radius: var(--radius-md);
    max-width: 440px;
}

.container {
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    padding: 2.6rem 1.4rem 1rem 1.4rem;
    border: 1px solid var(--color-border);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition-property: transform, box-shadow, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: var(--color-bg-elevated);
}

.item:hover .container {
    transform: translateY(-2px);
    box-shadow: 0 0 4px var(--color-shadow);
}

.item:hover .description {
    color: var(--color-text-tertiary);
}

.tagList {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.tagList .tagItem:last-child {
    border-radius: 0 0 var(--radius-sm) 0;
}

.tagItem {
    border-radius: 0;
}

.production .container {
    border-color: var(--G100);
}

.production:hover .container {
    border-color: var(--G200);
}

.production .status {
    background-color: var(--G100);
    color: var(--color-text);
}

.development .status {
    background-color: var(--T100);
    color: var(--color-text);
}

.demo .status {
    background-color: var(--T100);
    color: var(--color-text);
}

.development .container {
    border-color: var(--T100);
}

.development:hover .container {
    border-color: var(--T200);
}

.demo .container {
    border-color: var(--T100);
}

.demo:hover .container {
    border-color: var(--T200);
}

.offline .container {
    border-color: var(--Y200);
}

.offline:hover .container {
    border-color: var(--Y300);
}

.offline .status {
    background-color: var(--Y200);
    color: var(--N900);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
}

.title {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    color: var(--color-text);
}

.title:hover,
.title:hover .arrow,
.title:focus,
.title:focus .arrow {
    color: var(--color-link);
}

.logo {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
    border-radius: var(--radius-sm);
}

.time {
    font-size: 1.2rem;
    color: var(--color-text-tertiary);
    margin-left: 1.6rem;
}

.description {
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text-tertiary);
    margin-bottom: 0.6rem;
    flex-grow: 1;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .description {
        max-width: 100% !important;
    }
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.arrow {
    font-size: 1.4rem;
    color: var(--color-text-tertiary);
    transition: color 0.2s ease-in-out;
    margin-left: 0.6rem;
    transform: translateY(-1px);
}

.projectTag {
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    font-size: 0.95rem;
    transition: background-color 0.2s ease-in-out;
}

.projectTagIcon {
    margin-right: 2px;
}

.github {
    color: var(--N0);
    background-color: var(--N00);
}

.npm {
    color: var(--N0);
    background-color: var(--R400);
}

.ios {
    color: var(--N0);
    background-color: var(--B400);
}

.ios .projectTagIcon {
    transform: translateY(-1px);
}
