.counter {
  --size: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--size) / 3);
  color: var(--N300);
  font-size: var(--size);
  font-weight: 500;
}

.icon {
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}
