.main {
  padding: 4rem 16px 0;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.jsTag {
  position: relative;
}

.jsTagBg {
  width: 8px;
  height: 8px;
  bottom: 4px;
  left: 7px;
  border-radius: 2px;
  position: absolute;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 16px;
}

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.caption {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--N200);
  margin-bottom: 1.5rem;
}

.section {
  padding-top: var(--SECTION_OFFSET);
}
.section-- {
  padding-top: var(--SECTION_OFFSET);
}

.projectsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.certsList {
  left: -16px;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  overflow-x: scroll;
  display: flex;
  gap: 3rem;
  scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  scroll-padding-left: max(28px, calc((100vw - 800px) / 2 + 28px));
}

.certsList::-webkit-scrollbar {
  display: none;
}

.certItem {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  flex-shrink: 0;
}

.certPadding {
  flex-shrink: 0;
  width: 70vw;
}

.project {
  flex: 0 1 auto;
  min-width: 160px;
}

@media (max-width: 768px) {
  .project {
    flex: 1 1 auto;
    max-width: 100% !important;
  }
}

.singleVerticalImage {
  max-width: 25%;
}

.mb-0 {
  margin-bottom: 0 !important;
}
