.collage {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 3rem;
  max-width: 95%;
  width: 100%;
  align-items: stretch;
}

.s-1 {
  grid-template-columns: 1fr;
}

.s-1 > *:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.s-2 {
  grid-template-columns: repeat(2, 1fr);
}

.s-3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.s-3 > *:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.s-3 > *:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.s-3 > *:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .s-3 {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
  }

  .s-3 > *:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .s-3 > *:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .s-3 > *:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.s-4 {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.s-4 > *:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.s-4 > *:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.s-4 > *:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.s-4 > *:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.s-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.s-5 > *:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.s-5 > *:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.s-5 > *:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.s-5 > *:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.s-5 > *:nth-child(5) {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.row > * {
  max-width: calc(50% - 1.5rem);
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }
  .row > * {
    max-width: initial;
  }
}

/* Masonry layout for 6-20 images */
.masonry {
  display: block;
  column-gap: 1.5rem;
  columns: 2;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: 1.5rem;
  display: block;
}

/* Responsive columns based on image count */
@media screen and (min-width: 768px) {
  .masonry {
    columns: 3;
  }
}

@media screen and (min-width: 1024px) {
  .masonry {
    columns: 4;
  }
}

/* Adjust columns for larger collections */
@media screen and (min-width: 1280px) {
  .masonry {
    columns: 4;
  }
}