.container {
  padding: 64px 16px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.heading {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  /* margin-top: 5rem; */
  margin-bottom: 1.5rem;
}

.list {
  display: flex;
  gap: 1rem;
}
