.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 0.6rem;
  line-height: 1;
  bottom: -1px;
  position: relative;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  row-gap: 0.6rem;
  column-gap: 1.6rem;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.link:not(:first-of-type) .title {
  font-size: 1.4rem;
  color: var(--color-text-secondary);
}

.link:hover .arrow,
.link:focus .arrow {
  color: var(--color-text);
}

.description {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-tertiary);
  margin-bottom: 1.4rem;
}

.icon {
  border-radius: var(--radius-round);
  overflow: hidden;
  display: inline-flex;
  margin-right: 0.6rem;
  flex-shrink: 0;
}

.arrow {
  font-size: 1.4rem;
  color: var(--color-text-tertiary);
  transition: color 0.2s ease-in-out;
}
